<!-- Pre-Loader -->
<div id="loader"></div>

<!-- Mouse Cursor  -->
<div class="mouseCursor cursor-outer"></div>
<div class="mouseCursor cursor-inner"><span>Drag</span></div>

<!-- Header Area  -->
<div class="header-area">
    <div id="header-sticky">
        <div class="navigation">
            <div class="container-fluid">
                <div class="header-inner-box">
                    <!-- Logo -->
                    <div class="logo">
                        <a class="navbar-brand" routerLink=" "><img src="assets/FrontOffice/img/logo.png" alt=""></a>
                    </div>
                    <!-- Main Menu  -->
                    <div class="main-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a class="navlink" routerLink=" ">Home</a>
                                <ul class="sub-menu">
                                    <li><a class="active" routerLink="/lawFirm"> Law Firm</a></li>
                                    <li><a routerLink="/Formateur">Formateur</a></li>
                                    <li><a routerLink="/Lawyer">Lawyer</a></li>
                                </ul>
                            </li>
                            <li><a class="navlink" href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/about">About Us</a></li>
                                    <li><a routerLink="/case">Case Studies</a></li>
                                    <li><a href="team.html">Our Team</a></li>
                                    <li><a routerLink="/pricing">Pricing</a></li>
                                    <li><a href="faq.html">FAQs</a></li>
                                </ul>
                            </li>
                            <li><a class="navlink" routerLink="/services">Practics Areas</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/services">Practics Areas</a></li>
                                    <li><a routerLink="/serviceDetail">Single Practice Area</a></li>

                                </ul>
                            </li>
                            <li><a class="navlink" routerLink="/blogs">Blog</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/blogs">Blogs</a></li>
                                    <li><a routerLink="/blogdetail">Blog Details</a></li>
                                </ul>
                            </li>

                            <li><a class="navlink" routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>

                    <div class="header-right">

                        
                      
                        <!-- Header Button -->
                        <a routerLink="/admin" class="theme-btn d-none d-lg-inline-block">Login</a>

                    </div>
                    <!-- Mobile Menu -->
                    <div class="mobile-nav-bar d-block col-sm-1 col-6 d-lg-none">
                        <div class="mobile-nav-wrap">
                            <div id="hamburger">
                                <i class="las la-bars"></i>
                            </div>
                            <!-- mobile menu - responsive menu  -->
                            <div class="mobile-nav">
                                <button type="button" class="close-nav">
                                    <i class="las la-times-circle"></i>
                                </button>
                                <nav class="sidebar-nav">
                                    <ul class="metismenu" id="mobile-menu">
                                        <li><a class="has-arrow" href="#">Homes</a>
                                            <ul class="sub-menu">
                                                <li><a class="active" href="index.html"> Law Firm</a></li>
                                                <li><a href="index-2.html">Legal Consultant</a></li>
                                                <li><a href="index-3.html">Lawyer</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="has-arrow" href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="case.html">Case Studies</a></li>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="price.html">Pricing</a></li>
                                                <li><a href="faq.html">FAQs</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="has-arrow" href="#">Practics Areas</a>
                                            <ul class="sub-menu">
                                                <li><a href="services.html">Practics Areas</a></li>
                                                <li><a href="single-service.html">Single Practice Area</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="has-arrow" href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blogs</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>

                                    </ul>
                                </nav>
                                <div class="action-bar">
                                    <a href="mailto:infoprizon.com"><i class="las la-envelope"></i>infoprizon.com</a>
                                    <a href="tel:123-456-7890"><i class="fal fa-phone"></i>123-456-7890</a>
                                    <a href="contact.html" class="theme-btn">Contact Us</a>
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
